<mat-toolbar color="primary" role="header" style="background: #336386">  
    <mat-toolbar-row>
        <mat-icon class="app-icon">assignment_turned_in</mat-icon>
        <span style="padding-left: 10px">Forecast Costing & Reports</span>
        <span class="headder-spacer"></span>
        <span>
                <img *ngIf="hideprogress == false" src="https://loading.io/spinners/double-ring/lg.double-ring-spinner.gif" style="width: 80px;">
        </span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-toolbar style="background: aliceblue;" >
    <button mat-stroked-button (click)="onBtExport()" style="background: darkturquoise;padding: 0px 5px;" >Export As Excel</button>
    <span class="controls-spacing"></span>
    <button mat-raised-button (click)="createRowData()" >Refresh Data</button>
    <span class="controls-spacing"></span>
    <button mat-raised-button (click)="saveUpdated()" >Save</button>
    <span class="controls-spacing"></span>
    <input mat-raised-button (keyup)="onQuickFilterChanged($event)" type="text" id="quickFilterInput" placeholder="Filter Results"/>
    <span class="controls-spacing"></span>
    <input matInput placeholder="Project" aria-label="Project" [matAutocomplete]="auto2" [formControl]="projectCtrl">
    <mat-autocomplete #auto2="matAutocomplete">
        <mat-option *ngFor="let project of filteredProjectsObs | async" [value]="project.projectId" (click)="autoCompleate()" >
            <span>{{ project.projectName }}</span>
        </mat-option>
    </mat-autocomplete> 
    
    
    <mat-card style="margin: 5px;" *ngIf="chosenProjectArray.length > 0">
        <mat-chip-list >
            <mat-chip *ngFor="let chip of chosenProjectArray" selected="true" [color]="chip.color" style="padding:5px; margin: 5px">
            {{chip}}
            <mat-icon matChipRemove >cancel</mat-icon>
            </mat-chip>
        </mat-chip-list>
        <button mat-raised-button (click)="getReports()" style="margin: 5px" >Fetch</button>
    </mat-card>

</mat-toolbar>


<ol>
    <!-- <li>
      <mat-form-field>
        <input matInput [(ngModel)]="name" placeholder="What's your name?">
      </mat-form-field>
    </li> -->
    
    
    <!-- </li>
    <li *ngIf="animal">
      You chose: <i>{{animal}}</i>
    </li> -->
  </ol>

  
<div>
        <div style="clear: both;"></div>
        <div style="padding: 4px;" class="toolbar" style="display: none">
            <mat-card style="margin: 5px;"  >       
         <button mat-raised-button  (click)="onBtExport()">Export As Excel</button>
         <span class="controls-spacing"></span>    
            <button mat-raised-button (click)="createRowData()">Refresh Data</button>
            <span class="controls-spacing"></span>
            <input  mat-raised-button (keyup)="onQuickFilterChanged($event)" type="text" id="quickFilterInput" placeholder="Type text to filter..."/>
            <span class="controls-spacing"></span>
            <button mat-raised-button (click)="saveUpdated()">Save</button>
            <span class="controls-spacing"></span>
            <button mat-raised-button (click)="onDuplicateRow()"  [disabled]="!selectedRow" >Duplicate Row</button>
            <span class="controls-spacing"></span>
            <button mat-raised-button  (click)="onDeleteRow()"  [disabled]="!selectedRow" >Delete Row</button>
            <span class="controls-spacing"></span>
            <!-- <button mat-raised-button (click)="showDialog = !showDialog" >Add Data</button>
            <span class="controls-spacing"></span> -->
            <button mat-raised-button (click)="openDialog()">Add</button>
            <span class="controls-spacing"></span>
        </mat-card>
        </div>
        <div style="padding: 4px;"  class="toolbar" style="display: none">
            <div>
                <span>Project : </span>
                <button (click)="getReports()">Check</button>
            </div>
            <div>
                <select multiple [(ngModel)]="chosenProject">            
                    <option value="{{project.projectId}}" *ngFor="let project of projects;">{{project.projectName}}</option>
                </select>
            </div>            
        </div>
        <app-dialog [(visible)]="showDialog">
            <h1>Hello World</h1>
            <button (click)="showDialog = !showDialog" class="btn">Close</button>
          </app-dialog>
        <div style="margin: 0px 10px 0px 10px">
        <ag-grid-angular style="width: 100%; height: 500px;" class="ag-fresh"

        [rowClassRules]="rowClassRules"
        [gridOptions]="gridOptions"
        [columnDefs]="columnDefs"
        [showToolPanel]="showToolPanel"
        [rowData]="rowData"
        [excelStyles]="excelStyles"
        enableColResize
        [enableSorting]="true"
        enableFilter
        groupHeaders
        suppressRowClickSelection
        toolPanelSuppressGroups
        toolPanelSuppressValues
        rowHeight="22"
        rowSelection="single"
        [sortingOrder]="sortingOrder"
        (modelUpdated)="onModelUpdated()"
        (cellClicked)="onCellClicked($event)"
        (cellDoubleClicked)="onCellDoubleClicked($event)"
        (cellContextMenu)="onCellContextMenu($event)"
        (cellValueChanged)="onCellValueChanged($event)"
        (cellFocused)="onCellFocused($event)"
        (rowSelected)="onRowSelected($event)"
        (selectionChanged)="onSelectionChanged($event)"
        (beforeFilterChanged)="onBeforeFilterChanged()"
        (afterFilterChanged)="onAfterFilterChanged()"
        (filterModified)="onFilterModified()"
        (beforeSortChanged)="onBeforeSortChanged()"
        (afterSortChanged)="onAfterSortChanged()"
        (virtualRowRemoved)="onVirtualRowRemoved($event)"
        (rowClicked)="onRowClicked($event)"
        (gridReady)="onReady($event)"
        (getSelectedRows) = "getSelectedRows()"
        (columnEverythingChanged)="onColumnEvent($event)"
        (columnRowGroupChanged)="onColumnEvent($event)"
        (columnValueChanged)="onColumnEvent($event)"
        (columnMoved)="onColumnEvent($event)"
        (columnVisible)="onColumnEvent($event)"
        (columnGroupOpened)="onColumnEvent($event)"
        (columnResized)="onColumnEvent($event)"
        (columnPinnedCountChanged)="onColumnEvent($event)">
        </ag-grid-angular>
    </div>

</div>