<nav class="code-box-nav">
	<a routerLink="/leaveModule" routerLinkActive="active">Leave Module</a>
	<a routerLink="/reportModule" routerLinkActive="active">Report Module</a>
	<a routerLink="/uploadModule" routerLinkActive="active">Upload File</a>
	<a routerLink="/pipeLineModule" routerLinkActive="active">PipeLine leaveModule</a>
</nav> 


<!-- 
 <div class="navbar navbar-default">
  <div class="container-fluid"> 
  <div class="navbar-header navbar-brand headerTitle">      
      Forecast Tool
    </div>        
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li><a routerLink="/leaveModule" routerLinkActive="active">Leave Module</a></li>
        <li><a routerLink="/reportModule" routerLinkActive="active">Report Module</a></li>
        <li><a routerLink="/uploadModule" routerLinkActive="active">Upload File</a></li>
        <li><a routerLink="/pipeLineModule" routerLinkActive="active">pipeLineModule</a></li>
        <li class="dropdown">
          <a routerLink="/pipeLineModule" routerLinkActive="active" data-target="#" class="dropdown-toggle" data-toggle="dropdown">PipeLine leaveModule
            <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
            	<a routerLink="/pipeLineModule/1" routerLinkActive="active">
 					Create New Staffing Page
            	</a>
            </li>
            <li>
            	<a routerLink="/pipeLineModule/2" routerLinkActive="active">
 					View History Staffing Page
            	</a>
            </li>
            <li>
            	<a routerLink="/projectPipeLineComponent/1" routerLinkActive="active">
 					Create New Project Staffing Page
            	</a>
            </li>
            <li>
            	<a routerLink="/projectPipeLineComponent/2" routerLinkActive="active">
 					View History Project Staffing Page
            	</a>
            </li>
            <li>
            	<a routerLink="/uploadModule" routerLinkActive="active">
 					Upload Staffing Page
            	</a>
            </li>          
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
-->