<header-nav></header-nav>
<p-tieredMenu [model]="items"></p-tieredMenu>
<div id="newStaff" style="display:none">
<p-dataTable #dt [value]="allStaffs" selectionMode="single" *ngIf="allStaffs" [(selection)]="selectedStaff" (onRowSelect)="onRowSelect($event)" [paginator]="true" rows="15" [responsive]="true">
 <header>
        <div class="ui-helper-clearfix">
            <button type="button" pButton icon="fa-file-o" iconPos="left" label="CSV" (click)="dt.exportCSV()" style="float:left"></button>
        </div>
    </header>
	<p-column field="sNo" header="SL.No"></p-column>
	<p-column field="name" header="Name"></p-column>
	<p-column field="division" header="Division"></p-column>
	<p-column field="noOfResources" header="No Of Resources"></p-column>
	<p-column field="values-0" header="headers-0"></p-column>
	<p-column field="values-1" header="headers-1"></p-column>
	<p-column field="values-2" header="headers-2"></p-column>
	<p-column field="values-3" header="headers-3"></p-column>
	<p-column field="values-4" header="headers-4"></p-column>
	<p-column field="values-5" header="headers-5"></p-column>
	<p-column field="values-6" header="headers-6"></p-column>
	<p-column field="values-7" header="headers-7"></p-column>
	<p-column field="values-8" header="headers-8"></p-column>
	<p-column field="values-9" header="headers-9"></p-column>
	<p-column field="values-10" header="headers-10"></p-column>
	<p-column field="values-11" header="headers-11"></p-column>
	
	    <footer><div class="ui-helper-clearfix" style="width:100%"><button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Add"></button></div></footer>

</p-dataTable>
</div>
<p-dialog header="Resource Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="newStaff">
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="vin">sNo</label></div>
            <div class="ui-grid-col-8"><input pInputText id="vin" [(ngModel)]="newStaff.sNo" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="brand">Name</label></div>
            <div class="ui-grid-col-8"><input pInputText id="brand" [(ngModel)]="newStaff.name" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="brand">Division</label></div>
            <div class="ui-grid-col-8"><input pInputText id="brand" [(ngModel)]="newStaff.division" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="color">No Of Resources</label></div>
            <div class="ui-grid-col-8"><input pInputText id="color" [(ngModel)]="newStaff.noOfResources" /></div>
        </div>

		<span  *ngFor="let staf of newStaff.headers ; let i=index"> 
		<div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="color">{{staf}}</label></div>
            <div class="ui-grid-col-8"><input pInputText id="color" [(ngModel)]="newStaff.values[i]" /></div>
        </div>
		</span>
    </div>
    <footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" id="delete" pButton icon="fa-close"  (click)="delete()" 	 label="Delete"></button>
            <button type="button" pButton icon="fa-check" (click)="save()"  label="Save"></button>
        </div>
    </footer>
</p-dialog>




<p-dialog header="New Page Details" [(visible)]="newStaffingPage" [responsive]="true" showEffect="fade" [modal]="true">
    <div class="ui-grid ui-grid-responsive ui-fluid">
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="vin">Starting Month </label></div>
            <div class="ui-grid-col-8"><input pInputText id="vin" [(ngModel)]="start" /></div>
        </div>
		  <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="vin">Ending Month </label></div>
            <div class="ui-grid-col-8"><input pInputText id="vin" [(ngModel)]="end" /></div>
        </div>
       
    </div>
    <footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" id="Proceed" pButton icon="fa-close"  (click)="proceed()" 	 label="Proceed"></button>
            </div>
    </footer>
</p-dialog>


<p-dialog header="Search History Criteria" [(visible)]="staffFromService" [responsive]="true" showEffect="fade" [modal]="true">
    <div class="ui-grid ui-grid-responsive ui-fluid">
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="vin">Year</label></div>
            <div class="ui-grid-col-8"><input pInputText id="vin" [(ngModel)]="start" /></div>
        </div>
		  <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="vin">Month </label></div>
            <div class="ui-grid-col-8"><input pInputText id="vin" [(ngModel)]="end" /></div>
        </div>
       
    </div>
    <footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" id="Proceed" pButton icon="fa-close"  (click)="getHistory()" 	 label="Proceed"></button>
            </div>
    </footer>
</p-dialog>
