@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.headder-spacer{
    flex: 1 1 auto;
 }

 .controls-spacing {
     padding : 3px;
 }

 .header-toolbar {
    position: fixed;
    z-index: 2;
}
.ag-header-cell-label .ag-header-cell-text{
    font-size: 12px;
   
}

.ag-fresh .ag-header-group-cell-label {
    padding: 2px;
    padding-top: 4px;
    font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    margin-top: -4px;
}
 
.ag-fresh .ag-header {
    background: antiquewhite;
}

.ag-fresh .ag-row-even {
    background-color:#fff6ea;
}

.ag-fresh .ag-row-odd {
    background-color:#ece6dc;
}

.mat-stroked-button, .head-control{
    line-height: 0px;
    font-size: 10px;
    line-height: 20px !important;
    background:#4fbedf;
    padding: 0px 5px;
    font-weight: bold;
    color: white
}
.mat-stroked-button[disabled]{
    background:#d9e3ea;
}

.head-control{
    background: white;
    font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}

.mat-card{
    background: #e2eef9;
}

* {
    font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
  }


.ag-header-group-cell{
    
    margin-bottom: 60px;
}

.toast-top-center {
    top: 56%;
    margin: 0 auto;
    width: 100%
 }

 .addRow {
     padding-left: 90%;
 }